@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset.scss';
@import 'mixins';
@import 'variables';

body {
  margin: 0 auto;
  padding: 0 20px;
  @include Desktop {
    width: 1200px;
  }
}
